{% extends "base.html.j2" %}

{% block title %}About - うちゅうのこども出版{% endblock %}
{% block og_title %}うちゅうのこども出版 About{% endblock %}

{% block content %}
<h1>About</h1>

<section class="about-section">
    <div class="about-intro">
        <p class="greeting">初めまして。私たちは、<br>ZINE制作ユニット【うちゅうのこども出版】です。</p>
    </div>

    <div class="about-mission">
        <p>
            本ユニットは、ZINE制作を通して、一人一人が文化的存在として宇宙に生きていた証を遺すことを目的として設立されました。
        </p>
    </div>

    <div class="about-activities">
        <p>
            茨城を拠点にZINEの制作、鑑賞・収集、ZINEイベントへの参加、ZINEおよび出版に関する勉強会等を行います。
        </p>
    </div>

    <div class="about-recruit">
        <h2>新規会員を募集しています。</h2>
        <p>気になる方はDMにてご連絡ください。</p>
    </div>

    <div class="about-footer">
        <p class="establishment">うちゅうのこども出版 編集部<br>2025年4月6日設立</p>
    </div>
</section>
{% endblock %}