{% extends "base.html.j2" %}

{% block title %}About - うちゅうのこども出版{% endblock %}
{% block og_title %}うちゅうのこども出版 About{% endblock %}

{% block content %}
<h1>About</h1>

<section>
    <div>
        <p>ZINE制作ユニット<strong>うちゅうのこども出版</strong>
            は、ZINE制作を通して、一人一人が文化的存在として宇宙に生きていた
            証を遺すことを目的として設立されました。</p>
    </div>
    <p>
        茨城を拠点にZINEの制作、鑑賞・収集、
        ZINEイベントへの参加、ZINEおよび出版に関する勉強会等を行います。
    </p>
    </div>
    <div>
        <h2><strong><u>新規会員を募集しています。</u></strong></h2>
        <p>気になる方はDMにてご連絡ください。</p>
    </div>

    <div>
        <p class="press-name">うちゅうのこども出版 編集部<br>2025年4月6日設立</p>
    </div>
</section>
{% endblock %}