{% extends "base.html.j2" %}

{% block title %}Home - うちゅうのこども出版{% endblock %}
{% block description %}うちゅうのこども出版のホームページです。私もあなたもうちゅうのこども。{% endblock %}
{% block og_title %}うちゅうのこども出版 Home{% endblock %}

{% block content %}
<div>
    <h1>ZINEを共通言語に、<br class="mobile-br">宇宙を広げてみませんか。</h1>
    <p class="greeting">初めまして。<br>私たちは、ZINE制作ユニット<br class="mobile-br"><strong>うちゅうのこども出版</strong>です。
    </p>
</div>

{% endblock %}